version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://nemanja:mojasifra@db:5432/iot_db?sslmode=disable
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: nemanja
      POSTGRES_PASSWORD: mojasifra
      POSTGRES_DB: iot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nemanja -d iot_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: