version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: nemanja
      POSTGRES_PASSWORD: mojasifra
      POSTGRES_DB: iot_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: